[Unit]
Description=Telegram bot 'SviTLo'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/telegram
ExecStart=/usr/bin/python3 /home/telegram/Prodaktion.py

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
