[Unit]
Description=Telegram bot 'SviTLo'
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ telegram_bot_username }}
WorkingDirectory={{ telegram_bot_path }}
ExecStart={{ telegram_bot_path}}/venv/bin/python3 {{ telegram_bot_path}}/Prodaktion.py

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
